* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 50px;
}

header {
    align-items: center;
    text-align: center;
    margin-top: 20%;
    margin: auto;
    width: 50%;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(180, 180, 180);
    border-radius: 10px;
}

header div {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    width: 100%;
}

header form {
    display: flex;
    align-items: center;
    width: 100%;
}

header button {
    background-color: white;
    border: 0;
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 50px;
    border-radius: 10px;
}

#auth-button {
    background-color: #4285f4;
    color: white;
    margin-bottom: 20px;
}

.flex-inputinfo-left {
    flex: 50%;
    background-color: white;
    padding: 10px;
    padding-left: 13px;
    border-radius: 13px;
    margin-bottom: 20px;
}

.flex-inputinfo-right {
    flex: 50%;
    background-color: white;
    padding: 10px;
    padding-left: 13px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
}

#project-select {
    margin-left: 50px;
    width: 100%;
}

.select2-container--default .select2-selection--single {
    background-color: white;
    border: none;
    border-radius: 10px;
    height: 40px;
    padding: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
}

.flex-head-left {
    flex: 80%;
}

.flex-head-right {
    flex: 20%;
}

@media (max-width: 600px) {
    header {
        width: 90%;
        margin-top: 10%;
    }

    header button {
        margin-left: 20px;
        width: 80px;
    }

    .flex-inputinfo-right {
        margin-left: 20px;
    }

    #project-select {
        margin-left: 20px;
    }
}